In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
X1= ['tom', 'krish', 'nick', 'juli']

X2 = [25, 30, 26, 22]

Result = list(zip(X1,X2))

Result

[('tom', 25), ('krish', 30), ('nick', 26), ('juli', 22)]

In [5]:
df = pd.read_csv('oil_consumption_per_cap.csv')
df

,country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Algeria,0.1020,0.1300,0.118,0.122,0.125,0.140,0.153,0.163,0.173,...,0.376,0.402,0.419,0.411,0.430,0.448,0.4580,0.4520,0.4880,0.4650
1,Argentina,0.9900,1.0100,1.020,1.020,1.050,0.923,0.969,0.954,0.939,...,0.605,0.616,0.596,0.681,0.679,0.703,0.7490,0.7290,0.7410,0.7280
2,Australia,1.3300,1.5500,1.650,1.750,1.760,1.900,1.960,1.970,2.070,...,2.030,2.020,2.000,1.980,2.060,2.100,2.0800,2.0500,2.0100,1.9800
3,Austria,0.7610,0.8320,0.880,1.010,1.110,1.210,1.350,1.450,1.560,...,1.620,1.600,1.530,1.590,1.500,1.470,1.4800,1.4400,1.4400,1.4500
4,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.519,0.407,0.371,0.356,0.436,0.450,0.4840,0.4680,0.4710,0.4740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,United Kingdom,1.3800,1.4700,1.570,1.650,1.770,1.870,1.870,1.980,2.030,...,1.310,1.280,1.210,1.180,1.150,1.110,1.0900,1.0700,1.1000,1.1100
61,United States,2.7600,2.8700,2.950,3.120,3.270,3.370,3.450,3.700,3.870,...,3.090,2.890,2.720,2.750,2.680,2.610,2.6400,2.6400,2.6800,2.6800
62,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.171,0.164,0.152,0.127,0.117,0.103,0.0953,0.0884,0.0881,0.0876
63,Venezuela,0.9730,0.9210,0.906,0.956,0.914,0.927,0.906,0.961,1.020,...,1.070,1.200,1.200,1.180,1.170,1.240,1.2100,1.0900,0.9710,0.9090
64,Vietnam,0.0392,0.0833,0.119,0.118,0.139,0.140,0.116,0.117,0.112,...,0.155,0.162,0.167,0.176,0.189,0.189,0.1890,0.1950,0.2010,0.2120

In [8]:
df.iloc[:3 , 1:]

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,0.102,0.13,0.118,0.122,0.125,0.140,0.153,0.163,0.173,0.187,...,0.376,0.402,0.419,0.411,0.430,0.448,0.458,0.452,0.488,0.465
1,0.990,1.01,1.020,1.020,1.050,0.923,0.969,0.954,0.939,0.930,...,0.605,0.616,0.596,0.681,0.679,0.703,0.749,0.729,0.741,0.728
2,1.330,1.55,1.650,1.750,1.760,1.900,1.960,1.970,2.070,2.160,...,2.030,2.020,2.000,1.980,2.060,2.100,2.080,2.050,2.010,1.980

In [10]:
df.loc[df['1965']>1]

,country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
2,Australia,1.33,1.55,1.65,1.75,1.76,1.90,1.96,1.97,2.07,...,2.03,2.02,2.00,1.98,2.06,2.10,2.080,2.050,2.010,1.980
7,Belgium,1.69,1.71,1.88,2.18,2.51,2.72,2.78,3.00,3.14,...,3.23,3.34,2.90,2.99,2.77,2.67,2.700,2.650,2.740,2.800
10,Canada,2.73,2.83,2.97,3.11,3.18,3.34,3.37,3.49,3.63,...,3.08,3.01,2.79,2.96,3.02,2.93,2.940,2.900,2.760,2.780
15,Denmark,2.19,2.47,2.60,2.80,3.35,3.71,3.63,3.82,3.51,...,1.72,1.69,1.49,1.50,1.48,1.38,1.370,1.380,1.400,1.410
18,Finland,1.25,1.51,1.58,1.79,2.08,2.33,2.41,2.55,2.84,...,2.04,2.00,1.88,1.97,1.80,1.69,1.660,1.580,1.590,1.640
19,France,1.10,1.17,1.33,1.43,1.64,1.85,2.00,2.21,2.44,...,1.48,1.46,1.40,1.34,1.31,1.26,1.240,1.200,1.190,1.180
20,Germany,1.13,1.26,1.29,1.44,1.61,1.77,1.83,1.93,2.06,...,1.38,1.47,1.41,1.43,1.38,1.37,1.400,1.360,1.350,1.380
27,Israel,1.54,1.56,1.59,1.62,1.65,1.68,1.70,1.72,1.76,...,1.78,1.69,1.49,1.51,1.56,1.81,1.470,1.330,1.410,1.420
28,Italy,1.01,1.11,1.21,1.33,1.45,1.63,1.74,1.81,1.89,...,1.42,1.35,1.26,1.22,1.18,1.08,0.996,0.936,0.969,0.978
31,Kuwait,11.50,10.10,8.99,8.01,7.20,6.52,6.01,6.13,5.48,...,7.14,7.17,7.25,6.99,6.38,7.19,6.300,5.550,5.660,5.430
35,Netherlands,2.06,2.21,2.23,2.37,2.56,2.81,2.74,3.01,3.07,...,3.07,2.85,2.76,2.75,2.75,2.60,2.460,2.350,2.290,2.350
36,New Zealand,1.03,1.13,1.17,1.19,1.22,1.41,1.43,1.51,1.57,...,1.69,1.69,1.59,1.61,1.59,1.56,1.560,1.580,1.620,1.640
37,Norway,1.37,1.53,1.57,1.74,1.90,2.12,2.07,2.15,2.17,...,2.26,2.17,2.22,2.20,2.14,2.10,2.120,1.970,1.980,1.980
46,Saudi Arabia,4.04,3.94,3.83,3.73,3.62,3.60,3.49,3.56,3.59,...,4.13,4.41,4.72,5.00,4.93,5.03,4.920,5.190,5.280,5.200
47,Singapore,2.19,2.45,2.89,3.52,3.40,3.62,3.08,3.80,3.51,...,10.20,10.60,11.20,12.00,12.30,12.00,12.000,12.100,12.500,12.800
52,Sweden,2.45,2.75,2.67,2.99,3.35,3.63,3.39,3.48,3.58,...,1.84,1.80,1.66,1.72,1.57,1.53,1.490,1.490,1.450,1.490
53,Switzerland,1.38,1.45,1.55,1.70,1.83,2.03,2.13,2.17,2.32,...,1.50,1.58,1.58,1.45,1.39,1.40,1.450,1.280,1.290,1.210
55,Trinidad and Tobago,2.08,2.08,2.16,2.19,2.27,2.31,2.36,3.85,3.82,...,1.61,1.71,1.62,1.68,1.57,1.50,1.670,1.520,1.650,1.580
60,United Kingdom,1.38,1.47,1.57,1.65,1.77,1.87,1.87,1.98,2.03,...,1.31,1.28,1.21,1.18,1.15,1.11,1.090,1.070,1.100,1.110
61,United States,2.76,2.87,2.95,3.12,3.27,3.37,3.45,3.70,3.87,...,3.09,2.89,2.72,2.75,2.68,2.61,2.640,2.640,2.680,2.680

In [9]:
df.where(df['1965']>1)

,country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Australia,1.33,1.55,1.65,1.75,1.76,1.90,1.96,1.97,2.07,...,2.03,2.02,2.00,1.98,2.06,2.10,2.08,2.05,2.01,1.98
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,United Kingdom,1.38,1.47,1.57,1.65,1.77,1.87,1.87,1.98,2.03,...,1.31,1.28,1.21,1.18,1.15,1.11,1.09,1.07,1.10,1.11
61,United States,2.76,2.87,2.95,3.12,3.27,3.37,3.45,3.70,3.87,...,3.09,2.89,2.72,2.75,2.68,2.61,2.64,2.64,2.68,2.68
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN